<p>
  <b>原因区分</b>
  <%= @fuguai.genin_kubun %>
</p>

<p>
  <b>検出されるべきテスト工程</b>
  <%= @fuguai.kensyutukotei %>
</p>

<p>
  <b>対処区分</b>
  <%= @fuguai.taisyo_kubun %>
</p>

<p>
  <b>仕様変更管理No.</b>
  <%= @fuguai.sihen_no %>
</p>

<p>
  <b>処理区分</b>
  <%= @fuguai.syori_kubun %>
</p>

<p>
  <b>重複（１.新規、２.重複）</b>
  <%= @fuguai.tyofuku_kubun %>
</p>

<p>
  <b>重複不具合No.（初出）</b>
  <%= @fuguai.tyofuku_no %>
</p>

<p>
  <b>添付資料（１.なし、２.電子媒体、３.紙、４.両方）</b>
  <%= @fuguai.taisyotenpu_kubun %>
</p>

<p>
  <b>解析結果／原因</b>
  <%= @fuguai.kaisekikekka %>
</p>

<p>
  <b>回答日</b>
  <%= @fuguai.kaito_ymd %>
</p>

<p>
  <b>回答者</b>
  <%= @fuguai.kaitosya %>
</p>

<p>
  <b>対処処置</b>
  <%= @fuguai.taisyosyoti %>
</p>

<p>
  <b>対処予定日</b>
  <%= @fuguai.taisyoyotei_ymd %>
</p>

<p>
  <b>対処日</b>
  <%= @fuguai.taisyo_ymd %>
</p>

<p>
  <b>対処者</b>
  <%= @fuguai.taisyosya %>
</p>

<p>
  <b>対処物名称</b>
  <%= @fuguai.taisyobutumei %>
</p>

<p>
  <b>完了確認日</b>
  <%= @fuguai.kanryo_ymd %>
</p>

<p>
  <b>確認者</b>
  <%= @fuguai.kakuninsya %>
</p>

<p>
  <b>ステータス</b>
  <%= @fuguai.status_kubun %>
</p>

<p>
  <b>備考</b>
  <%= @fuguai.biko %>
</p>
