<!-- 対処情報部分 -->
<table bgcolor=lightcyan border=1 width=950 cellspacing=0 cellpadding=3>
<tr>
  <tr>
    <th  bgcolor=lightgreen width=10 rowspan=11 >対処情報</th>
  </tr>
  <tr>
    <th width=90 colspan=1 bgcolor=lightgreen>原因区分</th>
    <td width=90 colspan=2><%= @fuguai.genin_kubun %></td>
    <th width=90 colspan=2 bgcolor=lightgreen>検出されるべきテスト工程</th>
    <td width=90 colspan=3><%= @fuguai.kensyutukotei %></td>
  </tr>

  <tr>
    <th width=90 colspan=1 bgcolor=lightgreen>対処区分</th>
    <td width=90 colspan=2><%= @fuguai.taisyo_kubun %></td>
    <th width=90 colspan=3 bgcolor=lightgreen>仕様変更管理No.</th>
    <td width=90 colspan=2><%= @fuguai.sihen_no %></td>
  </tr>

  <tr>
    <th width=90 colspan=1 bgcolor=lightgreen>処理区分</th>
    <td width=90 colspan=2><%= @fuguai.syori_kubun %></td>
    <th width=90 colspan=1 bgcolor=lightgreen>重複区分</th>
    <td width=90 colspan=1><%= @fuguai.tyofuku_kubun %></td>
    <th width=90 colspan=3 bgcolor=lightgreen>重複不具合No.</th>
    <td width=90 colspan=3><%= @fuguai.tyofuku_no %></td>
  </tr>

  <tr>
    <th width=90 colspan=4 bgcolor=lightgreen>解析結果/原因</th>
    <th width=90 colspan=3 bgcolor=lightgreen>対処添付資料区分</th>
    <td width=90 colspan=2><%= @fuguai.taisyotenpu_kubun %></td>
  </tr>

  <tr>
    <td width=90 colspan=11 height=250 valign="top"><%= @fuguai.kaisekikekka %></td>
  </tr>

  <tr>
    <th width=90 colspan=1 bgcolor=lightgreen>回答日</th>
    <td width=90 colspan=2><%= @fuguai.kaito_ymd %></td>
    <th width=90 colspan=1 bgcolor=lightgreen>回答者</th>
    <td width=90 colspan=3><%= @fuguai.kaitosya %></td>
  </tr>

  <tr>
    <th width=90 colspan=1 bgcolor=lightgreen>対処処置</th>
    <td width=90 colspan=10 height=80 valign="top"><%= @fuguai.taisyosyoti %></td>
  </tr>

  <tr>
    <th width=90 colspan=1 bgcolor=lightgreen>対処予定日</th>
    <td width=90 colspan=2><%= @fuguai.taisyoyotei_ymd %></td>
    <th width=90 colspan=1 bgcolor=lightgreen>対処日</th>
    <td width=90 colspan=1><%= @fuguai.taisyo_ymd %></td>
    <th width=90 colspan=1 bgcolor=lightgreen>対処者</th>
    <td width=90 colspan=3><%= @fuguai.taisyosya %></td>
  </tr>

  <tr>
    <th width=90 colspan=1 bgcolor=lightgreen>対処物名称</th>
    <td width=90 colspan=10 height=80 valign="top"><%= @fuguai.taisyobutumei %></td>
  </tr>

  <tr>
    <th width=90 colspan=1 bgcolor=lightgreen>完了確認日</th>
    <td width=90 colspan=2><%= @fuguai.kanryo_ymd %></td>

    <th width=90 colspan=1 bgcolor=lightgreen>完了確認者</th>
    <td width=90 colspan=2><%= @fuguai.kakuninsya %></td>
    <th width=90 colspan=1 bgcolor=lightgreen>ステータス</th>
    <td width=90 colspan=4><%= @fuguai.status_kubun %></td>
  </tr>

</tr>
</table>

<!-- 備考部分 -->
<table bgcolor=floralwhite border=1 width=950 cellspacing=0 cellpadding=3>
<tr>
  <tr>
    <th bgcolor=lightpink width=10 height=150>備考</th>
    <td valign="top"><%= @fuguai.biko %></td>
  </tr>
</tr>
</table>

<br><hr><br>

<!--20130205コメントアウト
<p>
  <b>原因区分</b>
  <%= @fuguai.genin_kubun %>
</p>

<p>
  <b>検出されるべきテスト工程</b>
  <%= @fuguai.kensyutukotei %>
</p>

<p>
  <b>対処区分</b>
  <%= @fuguai.taisyo_kubun %>
</p>

<p>
  <b>仕様変更管理No.</b>
  <%= @fuguai.sihen_no %>
</p>

<p>
  <b>処理区分</b>
  <%= @fuguai.syori_kubun %>
</p>

<p>
  <b>重複（１.新規、２.重複）</b>
  <%= @fuguai.tyofuku_kubun %>
</p>

<p>
  <b>重複不具合No.（初出）</b>
  <%= @fuguai.tyofuku_no %>
</p>

<p>
  <b>添付資料（１.なし、２.電子媒体、３.紙、４.両方）</b>
  <%= @fuguai.taisyotenpu_kubun %>
</p>

<p>
  <b>解析結果／原因</b>
  <%= @fuguai.kaisekikekka %>
</p>

<p>
  <b>回答日</b>
  <%= @fuguai.kaito_ymd %>
</p>

<p>
  <b>回答者</b>
  <%= @fuguai.kaitosya %>
</p>

<p>
  <b>対処処置</b>
  <%= @fuguai.taisyosyoti %>
</p>

<p>
  <b>対処予定日</b>
  <%= @fuguai.taisyoyotei_ymd %>
</p>

<p>
  <b>対処日</b>
  <%= @fuguai.taisyo_ymd %>
</p>

<p>
  <b>対処者</b>
  <%= @fuguai.taisyosya %>
</p>

<p>
  <b>対処物名称</b>
  <%= @fuguai.taisyobutumei %>
</p>

<p>
  <b>完了確認日</b>
  <%= @fuguai.kanryo_ymd %>
</p>

<p>
  <b>確認者</b>
  <%= @fuguai.kakuninsya %>
</p>

<p>
  <b>ステータス</b>
  <%= @fuguai.status_kubun %>
</p>

<p>
  <b>備考</b>
  <%= @fuguai.biko %>
</p>
-->
