
<table border>
  <tr>
    <td bgcolor=skyblue>不具合管理No.</td>
    <td><%= @fuguai.fuguai_no %></td>
  </tr>
  <tr>
    <td bgcolor=skyblue>Ｂ票管理No.</td>
    <td><%= @fuguai.bhyo_no %></td>
  </tr>
</table>

<p></p>

<table border>
  <tr>
    <td rowspan=9 bgcolor=skyblue><br>不</br><br>具</br><br>合</br><br>情</br><br>報</br></td>
    <td bgcolor=skyblue>発行者</td>
    <td><%= @fuguai.hakosya %></td>
    <td bgcolor=skyblue>発生日</td>
    <td><%= @fuguai.hako_ymd %></td>
  </tr>
  <tr>
    <td bgcolor=skyblue>件名</td>
    <td><%= @fuguai.kenmei %></td>
  </tr>
  <tr>
    <td bgcolor=skyblue>システム名</td>
    <td><%= @fuguai.systemmei %></td>
    <td bgcolor=skyblue>工程</td>
    <td><%= @fuguai.kotei_kubun %></td>
  </tr>
  <tr>
    <td bgcolor=skyblue>機能名（発生箇所名）</td>
    <td><%= @fuguai.kinomei %></td>
    <td bgcolor=skyblue>再現性</td>
    <td><%= @fuguai.saigensei %></td>
  </tr>
  <tr>
    <td bgcolor=skyblue>対処依頼先</td>
    <td><%= @fuguai.taisyoirai_ymd %></td>
  </tr>
  <tr>
    <td bgcolor=skyblue>重大度（大、中、小）</td>
    <td><%= @fuguai.judaido %></td>
    <td bgcolor=skyblue>対処希望日</td>
    <td></td>
  </tr>
  <tr>
    <td bgcolor=skyblue>発生環境</td>
    <td><%= @fuguai.hasseikankyo %></td>
  </tr>
  <tr>
    <td bgcolor=skyblue>発生内容</td>
    <td bgcolor=skyblue>添付資料（１.なし、２.電子媒体、３.紙、４.両方）</td>
    <td><%= @fuguai.fuguaitenpu_kubun %></td>
  </tr>
  <tr>
    <td colspan=5  width="200" height="100"><textarea cols="50" rows="5"><%= @fuguai.hasseinaiyo %></textarea></td>
</table>


<!--
<table border=1>
  <tr>
    <td>不具合管理No.</td>
    <td><%= @fuguai.fuguai_no %></td>
  </tr>
  <tr>
    <td>Ｂ票管理No.</td>
    <td><%= @fuguai.bhyo_no %></td>
  </tr>
</table>

<p></p>

<div style="margin:0px;padding:0px;" align="center">
<table width="98%" style="border-collapse: collapse;border:2px solid #000000;backgroud-color:#ffffff;color:#000000;text-align:center;" >
<tbody>
  <tr>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;" rowspan=9><br>不</br><br>具</br><br>合</br><br>情</br><br>報</br></td>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">発行者</td>
    <td style="border:2px solid #000000;"><%= @fuguai.hakosya %></td>
    <td style="background-color:#808080; color:#ffffff;">発生日</td>
    <td> <%= @fuguai.hako_ymd %></td>
  </tr>
  <tr>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">件名</td>
    <td style="border:2px solid #000000;"><%= @fuguai.kenmei %></td>
  </tr>
  <tr>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">システム名</td>
    <td style="border:2px solid #000000;"><%= @fuguai.systemmei %></td>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">工程</td>
    <td style="border:2px solid #000000;"><%= @fuguai.kotei_kubun %></td>
  </tr>
  <tr>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">機能名（発生箇所名）</td>
    <td style="border:2px solid #000000;"><%= @fuguai.kinomei %></td>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">再現性</td>
    <td style="border:2px solid #000000;"><%= @fuguai.saigensei %></td>
  </tr>
  <tr>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">対処依頼先</td>
    <td style="border:2px solid #000000;"><%= @fuguai.taisyoirai_ymd %></td>
  </tr>
  <tr>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">重大度（大、中、小）</td>
    <td style="border:2px solid #000000;"><%= @fuguai.judaido %></td>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">対処希望日</td>
    <th></td>
  </tr>
  <tr>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">発生環境</td>
    <td style="border:2px solid #000000;"><%= @fuguai.hasseikankyo %></td>
  </tr>
  <tr>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">発生内容<th>
    <td style="border:2px solid #000000; background-color:#808080; color:#ffffff;">添付資料（１.なし、２.電子媒体、３.紙、４.両方）</td>
    <td style="border:2px solid #000000;"><%= @fuguai.fuguaitenpu_kubun %></td>
  </tr>
  <tr>
    <td colspan=5  width="400" height="100"><textarea cols="50" rows="5"><%= @fuguai.hasseinaiyo %></textarea></td>
</tbody>
</div style>
</table>
-->
