
<!-- ヘッダ部分 -->
<table border=0 width=1320>
<tr>
  <td><font size=7>不具合管理票</font></td>
  <td>
    <table border=1 width=300 cellspacing=0 cellpadding=3>
      <tr>
        <th bgcolor=lightskyblue>不具合管理No.</th>
        <td><%= @fuguai.fuguai_no %></td>
      </tr>
      <tr>
        <th bgcolor=lightskyblue>Ｂ票No.</th>
        <td><%= @fuguai.bhyo_no %></td>
      </tr>
    </table>
  </td>
</tr>
</table>

<hr>

<!-- 不具合情報部分 -->
<table bgcolor=mintcream border=1 width=950 cellspacing=0 cellpadding=3>
<tr>
  <tr>
    <th  bgcolor=lightskyblue width=10 rowspan=11 >不具合情報</th>
  </tr>
  <tr>
    <th width=90 colspan=1 bgcolor=lightskyblue>発行者</th>
    <td width=90 colspan=3><%= @fuguai.teammei %></td>
    <td width=90 colspan=3><%= @fuguai.hakosya %></td>
    <th width=90 colspan=1 bgcolor=lightskyblue>発行日</th>
    <td width=90 colspan=2><%= @fuguai.hako_ymd %></td>
  </tr>

  <tr>
    <th width=90 colspan=2 bgcolor=lightskyblue>件名</th>
    <td width=90 colspan=8><%= @fuguai.kenmei %></td>
  </tr>

  <tr>
    <th width=90 colspan=2 bgcolor=lightskyblue>システム名</th>
    <td width=90 colspan=5><%= @fuguai.systemmei %></td>
    <th width=90 colspan=1 bgcolor=lightskyblue>工程</th>
    <td width=90 colspan=2><%= @fuguai.kotei_kubun %></td>
  </tr>

  <tr>
    <th width=90 colspan=2 bgcolor=lightskyblue>機能名<br>(発生箇所名)</th>
    <td width=90 colspan=5><%= @fuguai.kinomei %></td>
    <th width=90 colspan=1 bgcolor=lightskyblue>再現性<br>(あり･なし)</th>
    <td width=90 colspan=2><%= @fuguai.saigensei %></td>
 </tr>

  <tr>
    <th width=90 colspan=2 bgcolor=lightskyblue>対処依頼先</th>
    <td width=90 colspan=4><%= @fuguai.taisyoirai %></td>
  </tr>

  <tr>
    <th width=90 colspan=2 bgcolor=lightskyblue>重大度<br>(大・中・小)</th>
    <td width=90 colspan=1><%= @fuguai.judaido %></td>
    <th width=90 colspan=1 bgcolor=lightskyblue>対処希望日</th>
    <td width=90 colspan=2><%= @fuguai.taisyokibo_ymd %></td>
  </tr>

  <tr>
    <th width=90 colspan=2 bgcolor=lightskyblue>発生環境</th>
    <td width=90 colspan=6><%= @fuguai.hasseikankyo %></td>
  </tr>

  <tr>
    <th width=90 colspan=8 bgcolor=lightskyblue>発生内容</th>
    <th width=90 colspan=1 bgcolor=lightskyblue>添付資料</th>
    <td width=90 colspan=1><%= @fuguai.fuguaitenpu_kubun %></td>
  </tr>

  <tr>
    <td width=90 height=250 colspan=10 valign="top"><%= @fuguai.hasseinaiyo %></td>
     <% if !(@fuguai.tenpu_url.to_s.blank?) %>
       <%= image_tag @fuguai.tenpu_url.to_s, :width => "800" %>
     <% end %>  
    <br><br>
     <% if !(@fuguai.tenpu2_url.to_s.blank?) %>
       <%= image_tag @fuguai.tenpu2_url.to_s, :width => "800" %>
     <% end %>  
       
       </td>
  </tr>



</tr>
</table>

