<h1>Listing fuguais</h1>

<table>
  <tr>
    <th>Fuguai no</th>
    <th>Bhyo no</th>
    <th>Hakosya</th>
    <th>Hako ymd</th>
    <th>Kenmei</th>
    <th>Systemmei</th>
    <th>Kotei kubun</th>
    <th>Kinomei</th>
    <th>Saigensei</th>
    <th>Taisyoirai ymd</th>
    <th>Judaido</th>
    <th>Hasseikankyo</th>
    <th>Fuguaitenpu kubun</th>
    <th>Hasseinaiyo</th>
    <th>Genin kubun</th>
    <th>Kensyutukotei</th>
    <th>Taisyo kubun</th>
    <th>Sihen no</th>
    <th>Syori kubun</th>
    <th>Tyofuku kubun</th>
    <th>Tyofuku no</th>
    <th>Taisyotenpu kubun</th>
    <th>Kaisekikekka</th>
    <th>Kaito ymd</th>
    <th>Kaitosya</th>
    <th>Taisyosyoti</th>
    <th>Taisyoyotei ymd</th>
    <th>Taisyo ymd</th>
    <th>Taisyosya</th>
    <th>Taisyobutumei</th>
    <th>Kanryo ymd</th>
    <th>Kakuninsya</th>
    <th>Status kubun</th>
    <th>Biko</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fuguais.each do |fuguai| %>
  <tr>
    <td><%= fuguai.fuguai_no %></td>
    <td><%= fuguai.bhyo_no %></td>
    <td><%= fuguai.hakosya %></td>
    <td><%= fuguai.hako_ymd %></td>
    <td><%= fuguai.kenmei %></td>
    <td><%= fuguai.systemmei %></td>
    <td><%= fuguai.kotei_kubun %></td>
    <td><%= fuguai.kinomei %></td>
    <td><%= fuguai.saigensei %></td>
    <td><%= fuguai.taisyoirai_ymd %></td>
    <td><%= fuguai.judaido %></td>
    <td><%= fuguai.hasseikankyo %></td>
    <td><%= fuguai.fuguaitenpu_kubun %></td>
    <td><%= fuguai.hasseinaiyo %></td>
    <td><%= fuguai.genin_kubun %></td>
    <td><%= fuguai.kensyutukotei %></td>
    <td><%= fuguai.taisyo_kubun %></td>
    <td><%= fuguai.sihen_no %></td>
    <td><%= fuguai.syori_kubun %></td>
    <td><%= fuguai.tyofuku_kubun %></td>
    <td><%= fuguai.tyofuku_no %></td>
    <td><%= fuguai.taisyotenpu_kubun %></td>
    <td><%= fuguai.kaisekikekka %></td>
    <td><%= fuguai.kaito_ymd %></td>
    <td><%= fuguai.kaitosya %></td>
    <td><%= fuguai.taisyosyoti %></td>
    <td><%= fuguai.taisyoyotei_ymd %></td>
    <td><%= fuguai.taisyo_ymd %></td>
    <td><%= fuguai.taisyosya %></td>
    <td><%= fuguai.taisyobutumei %></td>
    <td><%= fuguai.kanryo_ymd %></td>
    <td><%= fuguai.kakuninsya %></td>
    <td><%= fuguai.status_kubun %></td>
    <td><%= fuguai.biko %></td>
    <td><%= link_to 'Show', fuguai %></td>
    <td><%= link_to 'Edit', edit_fuguai_path(fuguai) %></td>
    <td><%= link_to 'Destroy', fuguai, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fuguai', new_fuguai_path %>
