<p id="notice"><%= notice %></p>

<p>
  <b>Fuguai no:</b>
  <%= @fuguai.fuguai_no %>
</p>

<p>
  <b>Bhyo no:</b>
  <%= @fuguai.bhyo_no %>
</p>

<p>
  <b>Hakosya:</b>
  <%= @fuguai.hakosya %>
</p>

<p>
  <b>Hako ymd:</b>
  <%= @fuguai.hako_ymd %>
</p>

<p>
  <b>Kenmei:</b>
  <%= @fuguai.kenmei %>
</p>

<p>
  <b>Systemmei:</b>
  <%= @fuguai.systemmei %>
</p>

<p>
  <b>Kotei kubun:</b>
  <%= @fuguai.kotei_kubun %>
</p>

<p>
  <b>Kinomei:</b>
  <%= @fuguai.kinomei %>
</p>

<p>
  <b>Saigensei:</b>
  <%= @fuguai.saigensei %>
</p>

<p>
  <b>Taisyoirai ymd:</b>
  <%= @fuguai.taisyoirai_ymd %>
</p>

<p>
  <b>Judaido:</b>
  <%= @fuguai.judaido %>
</p>

<p>
  <b>Hasseikankyo:</b>
  <%= @fuguai.hasseikankyo %>
</p>

<p>
  <b>Fuguaitenpu kubun:</b>
  <%= @fuguai.fuguaitenpu_kubun %>
</p>

<p>
  <b>Hasseinaiyo:</b>
  <%= @fuguai.hasseinaiyo %>
</p>

<p>
  <b>Genin kubun:</b>
  <%= @fuguai.genin_kubun %>
</p>

<p>
  <b>Kensyutukotei:</b>
  <%= @fuguai.kensyutukotei %>
</p>

<p>
  <b>Taisyo kubun:</b>
  <%= @fuguai.taisyo_kubun %>
</p>

<p>
  <b>Sihen no:</b>
  <%= @fuguai.sihen_no %>
</p>

<p>
  <b>Syori kubun:</b>
  <%= @fuguai.syori_kubun %>
</p>

<p>
  <b>Tyofuku kubun:</b>
  <%= @fuguai.tyofuku_kubun %>
</p>

<p>
  <b>Tyofuku no:</b>
  <%= @fuguai.tyofuku_no %>
</p>

<p>
  <b>Taisyotenpu kubun:</b>
  <%= @fuguai.taisyotenpu_kubun %>
</p>

<p>
  <b>Kaisekikekka:</b>
  <%= @fuguai.kaisekikekka %>
</p>

<p>
  <b>Kaito ymd:</b>
  <%= @fuguai.kaito_ymd %>
</p>

<p>
  <b>Kaitosya:</b>
  <%= @fuguai.kaitosya %>
</p>

<p>
  <b>Taisyosyoti:</b>
  <%= @fuguai.taisyosyoti %>
</p>

<p>
  <b>Taisyoyotei ymd:</b>
  <%= @fuguai.taisyoyotei_ymd %>
</p>

<p>
  <b>Taisyo ymd:</b>
  <%= @fuguai.taisyo_ymd %>
</p>

<p>
  <b>Taisyosya:</b>
  <%= @fuguai.taisyosya %>
</p>

<p>
  <b>Taisyobutumei:</b>
  <%= @fuguai.taisyobutumei %>
</p>

<p>
  <b>Kanryo ymd:</b>
  <%= @fuguai.kanryo_ymd %>
</p>

<p>
  <b>Kakuninsya:</b>
  <%= @fuguai.kakuninsya %>
</p>

<p>
  <b>Status kubun:</b>
  <%= @fuguai.status_kubun %>
</p>

<p>
  <b>Biko:</b>
  <%= @fuguai.biko %>
</p>


<%= link_to 'Edit', edit_fuguai_path(@fuguai) %> |
<%= link_to 'Back', fuguais_path %>
