<p id="notice"><%= notice %></p>

<h1>不具合管理票<h1>

<%= render 'form_show_fuguai' %>
<%= render 'form_show_taisho' %>

<%= link_to 'Edit', edit_fuguai_path(@fuguai) %> |
<%= link_to 'Back', fuguais_path %>
