<!--
<p id="notice"><%= notice %></p>
-->

<h1>不具合管理表　編集画面</h1>

<%= render 'form_show_fuguai' %>
<%= render 'form_show_taisho' %>

<!--
<%= link_to '業務選択画面', root_path %> |

<%= link_to '編集画面', edit_fuguai_path(@fuguai) %> |
<%= link_to '一覧', fuguais_path %>
-->


<%= link_to '編集画面', edit_fuguai_path(@fuguai) %> |
<%= link_to '一覧画面へ戻る', fuguais_path %>

